<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
    <%= image_tag('logo-preto-no-border.svg', alt:'Meushape.com', height:'30', class: "d-inline-block align-top") %>
    <span class="badge badge-danger">Beta</span>
  </a>
  </div>
</nav>